<div class="api-messages-container">
  <div class="toast-container position-static">
    <ng-container *ngFor="let message of messages; let index = index">
      <div class="toast fade border-0" role="alert" aria-live="assertive" aria-atomic="true" #toasts>
        <div class="toast-header" [ngClass]="message?.ok ? 'text-bg-success' : 'text-bg-danger'">
          <i [ngClass]="{'bi-check' : message?.ok, 'bi-cross' : !message?.ok }" class="me-2"></i>
          <strong class="me-auto">{{ message.ok ? 'Success' : 'Error' }}</strong>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"
                  (click)="removeMessage(index)">
          </button>
        </div>
        <div class="toast-body">
          {{ message.message }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
