<nav class="navbar text-bg-warning navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="bi bi-journal-bookmark-fill me-2"></i>Cucina
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngFor="let item of items">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page"
               routerLink="{{ item.link }}">{{ item.name }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
