<div class="card shadow-sm my-4">
  <div class="card-body">
    <div class="row justify-content-between d-flex align-items-center">
      <div class="col-12 col-lg">
        <h1 class="card-title">Recipes</h1>
      </div>
      <div class="col-12 col-lg-auto">
        <button class="btn btn-warning w-100" (click)="openModal()">
          <i class="bi-plus me-2"></i> Add
        </button>
      </div>
    </div>
    <hr>
    <div class="max-height-20 overflow-y-auto">
      <ng-container *ngIf="loading; else recipesTemplate">
        <p>Loading...</p>
      </ng-container>
      <ng-template #recipesTemplate>
        <ng-container *ngIf="!recipes.length">
          <div class="text-center">
            <i class="bi-book fs-1 d-block"></i>
            <h5>You don't have any recipes yet</h5>
            <p class="text-muted">Add some and they will appear here</p>
          </div>
        </ng-container>
        <ng-container *ngFor="let recipe of recipes">
          <div class="card recipe-hover my-3" (click)="viewRecipe(recipe.id)">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <span class="fst-italic">{{ recipe.instructions }}</span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" #addRecipeModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add recipe</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <app-recipe-form (saved)="reloadRecipes()"></app-recipe-form>
      </div>
    </div>
  </div>
</div>
