<div class="card rounded border shadow-sm my-4">
  <div class="card-body">
    <div class="row justify-content-between d-flex align-items-center">
      <div class="col">
        <h1 class="card-title">Recipes</h1>
      </div>
      <div class="col-auto">

        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addRecipeModal">
          <i class="bi-plus me-2"></i> Add
        </button>
      </div>
    </div>
    <hr>
    <div class="max-height-20 overflow-y-auto">
      <ng-container *ngIf="loading; else recipesTemplate">
        <p>Loading...</p>
      </ng-container>
      <ng-template #recipesTemplate>
        <ng-container *ngFor="let recipe of recipes">
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <span class="fst-italic text-truncate">{{ recipe.instructions }}</span>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>

<div class="modal" id="addRecipeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-recipe-form></app-add-recipe-form>
      </div>
    </div>
  </div>
</div>
